body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  color: red;
}

p.Para {
  font-style: italic;
  color: blue;
}

p.Contact {
color: purple;


}

p.Corro {
  color: aquamarine;
}

h3 {
  color: brown;
  font-size: medium;
  text-decoration: underline;
}